@media not print {

    @keyframes fade-out {
        0% {transform: scale(0);}
        3% {transform: scale(1.1);}
        5% {transform: scale(0.9);}
        9% {transform: scale(1);}
        15% {opacity: 1;}
        100% {opacity: 0;}
    }

    .success-popup,
    .fail-popup,
    .info-popup {
        position: fixed;
        right: 20px;
        bottom: 20px;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        animation: fade-out 5s;
        z-index: 100;
    }

    .success-popup {
        background-color: rgb(171, 233, 171);
        border: 1px rgb(14, 221, 14) solid;
    }

    .info-popup {
        background-color: rgb(188, 210, 255);
        border: 1px rgb(121, 139, 255) solid;
    }

    .fail-popup {
        background-color: rgb(255, 168, 168);
        border: 1px rgb(248, 46, 46) solid;
    }

    #save-error-overlay {
        position: fixed;;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 168, 168);
        border: 1px rgb(248, 46, 46) solid;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        z-index: 100;
    }

    #status-indicator {
        position: fixed;;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        z-index: 100;
    }

        #status-indicator.success {
            background-color: rgb(171, 233, 171);
            border: 1px rgb(14, 221, 14) solid;
        }
            #status-indicator.success::before {
                content: "Zmiany zapisane"
            }
        #status-indicator.wait {
            background-color: rgb(188, 210, 255);
            border: 1px rgb(121, 139, 255) solid;
        }
            #status-indicator.wait::before {
                content: "Proszę czekać..."
            }
        #status-indicator.error {
            background-color: rgb(255, 168, 168);
            border: 1px rgb(248, 46, 46) solid;
        }
            #status-indicator.error::before {
                content: "Błąd zapisu. Spróbuj ponownie za chwilę."
            }

    .meeting-div {
        margin: 10px 0px;
    }

    .edit-hud {
        /* background: grey; */
        position: relative;
        display: inline-block;
        outline: 1px rgba(128,128,128,0.5) solid;
        border: 2px transparent solid;
        border-radius: 4px;

        flex: 1;
    }

    .edit-hud .more {
        display: none;
        position: absolute;
        box-sizing: content-box;
        top: 0px;
        left: 100%;
        width: 1em;
        height: 1em;
        padding: 4px;
        text-align: center;
        background: lightgray;
        z-index: 1000;
        cursor: pointer;
        border: 1px gray solid;
        border-radius: 2px;

    }

    .overlay {
        position: absolute;
        top: 0px;
        visibility: hidden;
        pointer-events: none;
        opacity: 0.7;
        background-color: white;
        padding: 6px;
        border: 1px black solid;
        box-shadow: 0 0 10px rgba(127,127,127, 0.7);
    }

    .overlay.visible {
        visibility: visible;
    }

    .edit-hud.changed {
        outline: 8px solid rgba(127,255,255,0.7);
        border-radius: 1px;
    }

    .edit-hud input.unknown {
        outline: 8px solid rgba(255,255,0,0.7);
        border-radius: 1px;
    }

    .edit-hud input.save-fail {
        outline: 8px solid rgba(255,0,0,0.7);
        border-radius: 1px;
    }
    .save-fail {
        outline: 8px solid rgba(255,0,0,0.7);
    }

    .edit-hud:hover .more {
        display: block;
    }




    .edit-hud input[type=text] {
        min-width: 40px;
        width: 100%;
        border: none;

        font-size: medium;
    }


    #top-panel {
        padding: 10px 10px 20px 10px;
    }


}

.admin-popup-row {
    padding: 4px 10px;
}

@media print {
    .success-popup,
    .info-popup,
    .fail-popup,
    .edit-hud,
    #top-panel {
        display: none;
    }
}
