
<div class="plan">
    <div class="week-header flex-row">Plan zebrań w tygodniu od @auto=tydzien-od@</div>
    <div class="cleaning-duty"><span>Dyżur sprzątania sali w tygodniu od @auto=tydzien-od@ - </span><span>@name=nr-grupy|list=grupy|edit=edit@</span></div>
    <div class="thursday-header flex-row">CZWARTEK&emsp;|&emsp;@auto=czwartek@</div>
    <table class="meeting-table">
        <tr>
            <td class="duration-col">@name=czw-zebr-uwagi-czas|edit=admin|default=1 min@</td>
            <td class="subject-col">@name=czw-zebr-uwagi-wst|edit=admin|default=Uwagi wstępne@</td>
            <td class="label-col">@name=czw-zebr-uwagi-lbl|edit=admin|default=Przewodniczący:@</td>
            <td class="person-col">@name=czw-zebr-prow|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="treasures-header"></td>
            <td class="treasures-header">Skarby ze słowa Bożego</td>
        </tr>
        <tr>
            <td class="duration-col">@name=czw-pierwszy-czas|edit=admin|default=10 min@</td>
            <td class="subject-col">@name=czw-pierwszy-nazwa|edit=admin@</td>
            <td class="label-col">@name=tryb-pierwszy-lbl|edit=admin@</td>
            <td class="person-col">@name=czw-pierwszy-prow|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="duration-col">@name=czw-skarby-czas|edit=admin|default=10 min@</td>
            <td class="subject-col">@name=czw-skarby-nazwa|edit=admin|default=Wyszukujemy duchowe skarby@</td>
            <td class="label-col">@name=czw-skarby-lbl|edit=admin@</td>
            <td class="person-col">@name=czw-skarby-prow|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="duration-col">@name=czw-czyt-czas|edit=admin|default=4 min@</td>
            <td class="subject-col">@name=czw-czyt-nazwa|edit=admin|default=Czytanie Biblii@</td>
            <td class="label-col">@name=czw-czyt-lbl|edit=admin|default=Uczestnik:@</td>
            <td class="person-col">@name=czw-czyt-bibl-uczestnik|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="ministry-header"></td>
            <td class="ministry-header">Ulepszajmy swoją służbę</td>
        </tr>
        <tr>
            <td class="duration-col" rowspan="2">@czw-pokaz1-time|edit=edit@</td>
            <td class="subject-col" rowspan="2">@czw-pokaz1-nazwa|edit=edit@</td>
            <td class="label-col">@czw-pokaz1-lbl1|edit=edit@</td>
            <td class="person-col">@name=czw-pokaz1-ucz1|list=wszyscy|edit=edit@</td>
        </tr>
        <tr>
            <td class="label-col">@czw-pokaz1-lbl2|edit=edit@</td>
            <td class="person-col">@name=czw-pokaz1-ucz2|list=wszyscy|edit=edit@</td>
        </tr>
        <tr>
            <td class="duration-col" rowspan="2">@czw-pokaz2-time|edit=edit@</td>
            <td class="subject-col" rowspan="2">@czw-pokaz2-nazwa|edit=edit@</td>
            <td class="label-col">@czw-pokaz2-lbl1|edit=edit@</td>
            <td class="person-col">@name=czw-pokaz2-ucz1|list=wszyscy|edit=edit@</td>
        </tr>
        <tr>
            <td class="label-col">@czw-pokaz2-lbl2|edit=edit@</td>
            <td class="person-col">@name=czw-pokaz2-ucz2|list=wszyscy|edit=edit@</td>
        </tr>
        <tr>
            <td class="duration-col" rowspan="2">@czw-pokaz3-time|edit=edit@</td>
            <td class="subject-col" rowspan="2">@czw-pokaz3-nazwa|edit=edit@</td>
            <td class="label-col">@czw-pokaz3-lbl1|edit=edit@</td>
            <td class="person-col">@name=czw-pokaz3-ucz1|list=wszyscy|edit=edit@</td>
        </tr>
        <tr>
            <td class="label-col">@czw-pokaz3-lbl2|edit=edit@</td>
            <td class="person-col">@name=czw-pokaz3-ucz2|list=wszyscy|edit=edit@</td>
        </tr>
        <tr>
            <td class="lifestyle-header"></td>
            <td class="lifestyle-header">Chrześcijański tryb życia</td>
        </tr>
        <tr>
            <td class="duration-col">@name=tryb-pkt1-time|edit=edit@</td>
            <td class="subject-col">@name=tryb-pkt1-temat|edit=edit@</td>
            <td class="label-col">@name=tryb-pkt1-lbl|edit=admin@</td>
            <td class="person-col">@name=tryb-pkt1-prow|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="duration-col">@name=tryb-pkt2-time|edit=edit@</td>
            <td class="subject-col">@name=tryb-pkt2-temat|edit=edit@</td>
            <td class="label-col">@name=tryb-pkt2-lbl|edit=admin@</td>
            <td class="person-col">@name=tryb-pkt2-prow|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="duration-col" rowspan="2">@name=czw-stud-czas|edit=admin|default=30 min@</td>
            <td class="subject-col" rowspan="2">@name=czw-stud-temat|edit=admin|default=Zborowe studium Biblii@</td>
            <td class="label-col">@name=czw-stud-prow-lbl|edit=admin|default=Prowadzący:@</td>
            <td class="person-col">@name=czw-stud-prow|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="label-col">@name=czw-stud-lektor-lbl|edit=admin|default=Lektor:@</td>
            <td class="person-col">@name=czw-stud-lektor|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="duration-col">@name=czw-zebr-pods-czas|edit=admin|default=3 min@</td>
            <td class="subject-col">@name=czw-zebr-pods-nazwa|edit=admin|default=Uwagi końcowe@</td>
            <td class="label-col">@name=czw-zebr-pods-lbl|edit=admin|default=Modlitwa:@</td>
            <td class="person-col">@name=czw-modl-konc|list=bracia|edit=edit@</td>
        </tr>
    </table>
    <table class="helpers-table">
        <tr>
            <td>Porządkowi</td>
            <td>Nagłośnienie</td>
            <td>Mikrofony</td>
        </tr>
        <tr>
            <td>@name=czw-porz-1|list=bracia|edit=edit@</td>
            <td><div class="flex-row"><span class="inline-label">Mikser: </span>@name=czw-mikser|list=bracia|edit=edit@</div></td>
            <td><div class="flex-row"><span class="inline-label">Czarny: </span>@name=czw-mikrofon-1|list=bracia|edit=edit@</div></td>
        </tr>
        <tr>
            <td>@name=czw-porz-2|list=bracia|edit=edit@</td>
            <td><div class="flex-row"><span class="inline-label">Multimedia: </span>@name=czw-multimedia|list=bracia|edit=edit@</div></td>
            <td><div class="flex-row"><span class="inline-label">Niebieski: </span>@name=czw-mikrofon-2|list=bracia|edit=edit@</div></td>
        </tr>
    </table>
    <div class="sunday-header flex-row">NIEDZIELA | @auto=niedziela@</div>
    <table class="meeting-table">
        <tr>
            <td class="duration-col"></td>
            <td class="subject-col"></td>
            <td class="label-col">@name=niedz-przew-lbl|edit=admin|default=Przewodniczący:@</td>
            <td class="person-col">@name=niedz-przew|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="lecture-header"></td>
            <td class="lecture-header">Wykład publiczny</td>
        </tr>
        <tr>
            <td class="duration-col">@name=niedz-wyklad-czas|edit=admin|default=30 min@</td>
            <td class="subject-col">@niedz-wyklad-temat|edit=edit@</td>
            <td class="label-col">@name=niedz-wyklad-lbl|edit=admin|default=Mówca:@</td>
            <td class="person-col">@name=niedz-mowca|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="study-header"></td>
            <td class="study-header">Studium Strażnicy</td>
        </tr>
        <tr>
            <td class="duration-col" rowspan="2">@name=niedz-studium-czas|edit=admin|default=60 min@</td>
            <td class="subject-col" rowspan="2">@niedz-studium-temat|edit=edit@</td>
            <td class="label-col">@name=niedz-studium-prow-lbl|edit=admin|default=Prowadzący:@</td>
            <td class="person-col">@name=niedz-studium-prow|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="label-col">@name=niedz-studium-lektor-lbl|edit=admin|default=Lektor:@</td>
            <td class="person-col">@niedz-studium-lektor|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="field-header"></td>
            <td class="field-header"></td>
        </tr>
        <tr>
            <td class="duration-col">•</td>
            <td class="subject-col">@name=niedz-zbiorka|list=bracia|edit=admin|default=Zbiórka do służby kaznodziejskiej@</td>
            <td class="label-col">@name=niedz-zbiorka-temat|edit=admin|default=Prowadzący:@</td>
            <td class="person-col">@name=niedz-zbiorka-prow|list=bracia|edit=edit@</td>
        </tr>
    </table>
    <table class="helpers-table">
        <tr>
            <td>Porządkowi</td>
            <td>Nagłośnienie</td>
            <td>Mikrofony</td>
        </tr>
        <tr>
            <td>@name=niedz-porz-1|list=bracia|edit=edit@</td>
            <td><div class="flex-row"><span class="inline-label">Mikser: </span>@name=niedz-mikser|list=bracia|edit=edit@</div></td>
            <td><div class="flex-row"><span class="inline-label">Czarny: </span>@name=niedz-mikrofon-1|list=bracia|edit=edit@</div></td>
        </tr>
        <tr>
            <td>@name=niedz-porz-2|list=bracia|edit=edit@</td>
            <td><div class="flex-row"><span class="inline-label">Multimedia: </span>@name=niedz-multimedia|list=bracia|edit=edit@</div></td>
            <td><div class="flex-row"><span class="inline-label">Niebieski: </span>@name=niedz-mikrofon-2|list=bracia|edit=edit@</div></td>
        </tr>
    </table>
</div>
