
<!-- Tylko w tygodniu -->
<div class="plan">
    <div class="week-header flex-row">Plan zebrań w tygodniu od @type=auto|default=tydzien-od@</div>
    <div class="cleaning-duty"><span>Dyżur sprzątania sali w tygodniu od @type=auto|default=tydzien-od@ -&nbsp;</span><span>@name=nr-grupy|list=grupy|edit=edit@</span></div>
    <div class="thursday-header flex-row">CZWARTEK&ensp;|&ensp;@type=auto|default=czwartek@</div>
    <table class="meeting-table">
        <tr>
            <td class="duration-col">@name=czw-zebr-uwagi-czas|edit=admin|default=1 min@</td>
            <td class="subject-col"><div class="flex-row">@name=czw-zebr-uwagi-wst|edit=admin|default=Uwagi wstępne@</div></td>
            <td class="label-col">@name=czw-zebr-uwagi-lbl|edit=admin|default=Przewodniczący:@</td>
            <td class="person-col">@name=czw-zebr-prow|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="treasures-header"></td>
            <td class="treasures-header">Skarby ze słowa Bożego</td>
        </tr>
        <tr>
            <td class="duration-col">@name=czw-pierwszy-czas|edit=admin|default=10 min@</td>
            <td class="subject-col"><div class="flex-row">@name=czw-pierwszy-nazwa|edit=admin@</div></td>
            <td class="label-col">@name=tryb-pierwszy-lbl|edit=admin@</td>
            <td class="person-col">@name=czw-pierwszy-prow|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="duration-col">@name=czw-skarby-czas|edit=admin|default=10 min@</td>
            <td class="subject-col"><div class="flex-row">@name=czw-skarby-nazwa|edit=admin|default=Wyszukujemy duchowe skarby@</div></td>
            <td class="label-col">@name=czw-skarby-lbl|edit=admin@</td>
            <td class="person-col">@name=czw-skarby-prow|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="duration-col">@name=czw-czyt-czas|edit=admin|default=4 min@</td>
            <td class="subject-col"><div class="flex-row">@name=czw-czyt-nazwa|edit=admin|default=Czytanie Biblii@</div></td>
            <td class="label-col">@name=czw-czyt-lbl|edit=admin|default=Uczestnik:@</td>
            <td class="person-col">@name=czw-czyt-bibl-uczestnik|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="ministry-header"></td>
            <td class="ministry-header">Ulepszajmy swoją służbę</td>
        </tr>
        <tr>
            <td class="duration-col" rowspan="2">@czw-pokaz1-time|edit=edit@</td>
            <td class="subject-col" rowspan="2"><div class="flex-row">@czw-pokaz1-nazwa|edit=edit@</div></td>
            <td class="label-col">@czw-pokaz1-lbl1|edit=edit@</td>
            <td class="person-col">@name=czw-pokaz1-ucz1|list=wszyscy|edit=edit@</td>
        </tr>
        <tr>
            <td class="label-col">@czw-pokaz1-lbl2|edit=edit@</td>
            <td class="person-col">@name=czw-pokaz1-ucz2|list=wszyscy|edit=edit@</td>
        </tr>
        <tr>
            <td class="duration-col" rowspan="2">@czw-pokaz2-time|edit=edit@</td>
            <td class="subject-col" rowspan="2"><div class="flex-row">@czw-pokaz2-nazwa|edit=edit@</div></td>
            <td class="label-col">@czw-pokaz2-lbl1|edit=edit@</td>
            <td class="person-col">@name=czw-pokaz2-ucz1|list=wszyscy|edit=edit@</td>
        </tr>
        <tr>
            <td class="label-col">@czw-pokaz2-lbl2|edit=edit@</td>
            <td class="person-col">@name=czw-pokaz2-ucz2|list=wszyscy|edit=edit@</td>
        </tr>
        <tr>
            <td class="duration-col" rowspan="2">@czw-pokaz3-time|edit=edit@</td>
            <td class="subject-col" rowspan="2"><div class="flex-row">@czw-pokaz3-nazwa|edit=edit@</div></td>
            <td class="label-col">@czw-pokaz3-lbl1|edit=edit@</td>
            <td class="person-col">@name=czw-pokaz3-ucz1|list=wszyscy|edit=edit@</td>
        </tr>
        <tr>
            <td class="label-col">@czw-pokaz3-lbl2|edit=edit@</td>
            <td class="person-col">@name=czw-pokaz3-ucz2|list=wszyscy|edit=edit@</td>
        </tr>
        <tr>
            <td class="lifestyle-header"></td>
            <td class="lifestyle-header">Chrześcijański tryb życia</td>
        </tr>
        <tr>
            <td class="duration-col">@name=tryb-pkt1-time|edit=edit@</td>
            <td class="subject-col"><div class="flex-row">@name=tryb-pkt1-temat|edit=edit@</div></td>
            <td class="label-col">@name=tryb-pkt1-lbl|edit=admin@</td>
            <td class="person-col">@name=tryb-pkt1-prow|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="duration-col">@name=tryb-pkt2-time|edit=edit@</td>
            <td class="subject-col"><div class="flex-row">@name=tryb-pkt2-temat|edit=edit@</div></td>
            <td class="label-col">@name=tryb-pkt2-lbl|edit=admin@</td>
            <td class="person-col">@name=tryb-pkt2-prow|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="duration-col" rowspan="2">@name=czw-stud-czas|edit=admin|default=30 min@</td>
            <td class="subject-col" rowspan="2"><div class="flex-row">@name=czw-stud-temat|edit=admin|default=Zborowe studium Biblii@</div></td>
            <td class="label-col">@name=czw-stud-prow-lbl|edit=admin|default=Prowadzący:@</td>
            <td class="person-col">@name=czw-stud-prow|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="label-col">@name=czw-stud-lektor-lbl|edit=admin|default=Lektor:@</td>
            <td class="person-col">@name=czw-stud-lektor|list=bracia|edit=edit@</td>
        </tr>
        <tr>
            <td class="duration-col">@name=czw-zebr-pods-czas|edit=admin|default=3 min@</td>
            <td class="subject-col"><div class="flex-row">@name=czw-zebr-pods-nazwa|edit=admin|default=Uwagi końcowe@</div></td>
            <td class="label-col">@name=czw-zebr-pods-lbl|edit=admin|default=Modlitwa:@</td>
            <td class="person-col">@name=czw-modl-konc|list=bracia|edit=edit@</td>
        </tr>
    </table>
    <table class="helpers-table">
        <tr>
            <td>Porządkowi</td>
            <td>Nagłośnienie</td>
            <td>Mikrofony</td>
        </tr>
        <tr>
            <td>@name=czw-porz-1|list=bracia|edit=edit@</td>
            <td><div class="flex-row"><span class="inline-label">Mikser: </span>@name=czw-mikser|list=bracia|edit=edit@</div></td>
            <td><div class="flex-row"><span class="inline-label">Czarny: </span>@name=czw-mikrofon-1|list=bracia|edit=edit@</div></td>
        </tr>
        <tr>
            <td>@name=czw-porz-2|list=bracia|edit=edit@</td>
            <td><div class="flex-row"><span class="inline-label">Multimedia: </span>@name=czw-multimedia|list=bracia|edit=edit@</div></td>
            <td><div class="flex-row"><span class="inline-label">Niebieski: </span>@name=czw-mikrofon-2|list=bracia|edit=edit@</div></td>
        </tr>
    </table>
    <div class="sunday-header flex-row">@name=weekend-title|edit=admin@</div>
    @name=weekend-informacja|edit=admin@
</div>
